.userContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("https://previews.123rf.com/images/artsvitlyna/artsvitlyna1702/artsvitlyna170200056/71656574-books-background-many-different-books-on-violet-wall-cup-of-tea-on-books-stack-.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(247, 227, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userDetails {
  display: flex;
  margin-top: 40px;
  width: 70%;
  height: 40%;
  background-color: white;
  border-radius: 40px;
  border: solid 2px grey;
  padding-bottom: 10px;
}

.userDetailsLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 2px grey;
}

.userImage {
  /* border: solid 2px black; */
  height: 90%;
  width: 80%;
}

img {
  height: 100%;
  width: 100%;
}

.userName {
  font-weight: 700;
  font-size: 20px;
}

.userDetailsRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  line-height: 24px;
}

.userLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.userpic {
  flex: 1;
  position: relative;
}

.userpicCard {
  background-color: white;
  height: 80%;
  width: 70%;
  border-radius: 30px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.deleteAccountButton {
  padding: 10px;
  margin: 10px;
  background-color: rgba(184, 0, 0, 0.759);
  border: solid 5px black;
  border-radius: 7px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
}

.deleteAccountButton:hover {
  cursor: pointer;
  background-color: rgb(103, 23, 23);
}

.changePasswordButton {
  padding: 10px;
  margin: 10px;
  background-color: green;
  border: solid 5px black;
  border-radius: 7px;
  margin-right: 0px;
  color: white;
}

.bookDetails {
  width: 70%;
  height: 50%;
  border: solid 2px black;
  margin: 10px;
  border-radius: 40px;
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.borrowed {
  width: 47%;
  height: 90%;
  /* margin-right: 3%; */
  padding-left: 30px;
  padding-top: 30px;
  border-right: solid 2px rgb(109, 109, 109);
}

.lent {
  width: 45%;
  height: 90%;
  /* margin-left: 3%; */
  padding-left: 30px;
  padding-top: 30px;
  /* border: solid 2px green; */
}

.heading {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 15px;
}

.listOfBooks {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 80%;
  margin-left: 20px;
}
































