.containerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 13px 3px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
}

.divider {
  border: solid 2px black;
  height: 0;
  width: 60vw;
}
